<html ng-app="RappiTest">

  <head>
    <!-- External-->
    <script src="node_modules/angular/angular.js"></script>

    <!-- Config -->
    <script src="js/config/app.js"></script>
    <script src="js/config/run.js"></script>

    <!-- Controllers-->
    <script src="js/controller/RappiController.js"></script>

  </head>
  <body ng-controller="RappiController as rappiController">

    <form id="form" name="form">
      <span>T</span>
      <input type="number" ng-model="rappiController.testCases" ng-change="rappiController.calculateTestCases()" />

        <div ng-repeat="testCase in rappiController.T.testCases track by $index">
          <input id="T_{{$index}}" name="T_{{$index}}" type="text" ng-change="rappiController.validateT($index)" ng-model="rappiController.T.testCases[$index].value"/>
          <span ng-if="!testCase.isValid">Entrada no valida</span>
        </div>
    </form>

  </body>

</html>
