<html ng-app>
<head>
  <!-- ThirdPartyLibraries -->
  <script src="../node_modules/angular/angular.js"></script>

  <!-- Configuration JS -->
  <script src="../javascript/config/app.js"></script>

  <!-- Service JS -->
  <script src="../javascript/service/VSeguroCanguroService.js"></script>

  <!-- Controller JS -->
  <script src="../javascript/controller/VSeguroCanguroController.js"></script>

</head>
<body ng-controller="vSeguroCanguroController as controller">>

  <div
    <p>{{controller.works}}</p>
  </div>

</body>
</html>
