<html ng-app="SeguroCanguro">
<head>
  <!-- ThirdPartyLibraries -->
  <script src="../node_modules/angular/angular.js"></script>
  <script src="../node_modules/angular-resource/angular-resource.js"></script>

  <!-- Configuration JS -->
  <script src="../javascript/config/app.js"></script>

  <!-- Service JS -->
  <script src="../javascript/service/VSeguroCanguroService.js"></script>

  <!-- Controller JS -->
  <script src="../javascript/controller/VSeguroCanguroController.js"></script>

  <!-- Util JS -->
  <script src="../javascript/util/VSeguroCanguroConstants.js"></script>

</head>
<body ng-controller="vSeguroCanguroController as controller">

    <table>
      <thead>
        <th>Name</th>
        <th>Value</th>
      </thead>
      <tr ng-repeat="data in controller.tableData track by $index">
        <td>{{data.sample_data_title}}</td>
        <td>{{data.sample_data_value}}</td>
      </tr>
    </table>

</body>
</html>
